@(userForm: Form[User])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main {

    <h1>Login</h1>
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    @if(flash.containsKey("failure")) {
        <div class="alert-message error">
            <strong>Error!</strong> @flash.get("failure")
        </div>
    }

    @b3.form(routes.UserController.login()) {

        <fieldset>

            @b3.text(userForm("email"), '_label -> "email", '_help -> "")
            @b3.password(userForm("password"), '_label -> "password", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Login" class="btn primary">
        </div>

    }
    @b3.form(routes.UserController.forgot()) {
        <input type="submit" value="Forgot Password" class="btn primary">
    }
    @b3.form(routes.UserController.create(), 'class -> "topRight") {
        <input type="submit" value="Register" class="btn primary">
    }

}
